$navbar-default-bg: black;
@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
	float: left;
	font-size: 1.7em;
	color: #fff;
	font-weight: bold
}
.center{
	text-align: center;
}
.jumbotron{
	background-image: asset-url('ror.png');
	background-size: cover;
	height: 500px;
}
.jumbotron h1{
	text-align: center;
}
.xlarge{
	background-color: black;
}
.footer {
	background: black;
}
.footer small {
	background: red;
	align-content: center;
}
.float ul {
	background-color: red;
}
