.container
	.footer
	.well.col-xs-12
		%small	copyright reserved:arslansaeed
		%nav
			%ul
				%li 
					= link_to "Home",root_path()
				%li 
					= link_to "About",root_path()
				%li 
					= link_to "Articles",root_path()